.footer-img {
	max-height: 40px;
	min-width: 10px;
	min-height: 10px;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	
}

.jud-img-s {
	width: 15%;
		 margin-top: 0px;
}

.jud-img-f {
	max-width: 1087;
	max-height: 519;
	width: 84,375%; 
	height: 72,22%;
}

.left {
	text-align: left;
}

.jud-img {
	width: 25%;
	height: 15%;
	 margin-top: 0px;
}

.white {
	color:white;
	margin-top: 0;
	padding-bottom: 1%;
}

.article {
	text-align: center; 
	background-image: url(../../images/banner.jpg);
	padding-top: 2%;
	padding-bottom: 2%;
}

textarea {
	height:110px; 
	resize: none;
}

.special {
	height: 46px;
}

.center {
	text-align: center;
}

.pointer {
	cursor:pointer;
}

.black {
	color:black;
}
.red {
	color:red;
}

.green {
	color:green;
}

.nav-img {
width:35px; 
height:35px;	
}

.nav-account {
	font-size: 12pt; 
	color:#d4d4d4;
}

.tipuri-def {
	margin-left:15%;
	margin-top: 30px;
}

.tipuri {
	margin-left:15%; 
	margin-right:15%;
}

.navbar {
	margin-bottom: 0px; 
	border-radius: 0px;
}

.login {
	padding-left:20%; 
	padding-right:20%;
}

.register-img {
	padding-left: 31%; 
	margin-bottom:2%;
}

.register {
	padding-left:20%; 
	padding-right:20%;
}

.sterge-cont {
	text-align: center; 
	margin-top: 1%;
	height: 46px;
}

.right-image {
	 margin-left: 2%; 
	 margin-right:2%;
}

.sterge-center {
	margin-left:47%; 
	width:25%; 
	text-align:center;
}

.sterge-left {
	margin-top:11%; 
	text-align:left;
}

.image-big {
	min-height: 200px;  
	min-width: 200px; 
	max-height: 400px; 
	max-width: 400px;
}

.profil {
	margin-top:3%; 
	width:400px; 
	margin-left: 18%;
}

.abonare {
	margin-left: 8%; 
	width:80%; 
	text-align:center;
}

.form-p {
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 3%; 
	padding-bottom: 3%;
}

.parola {
	margin-left: 8%; 
	width:80%; 
	text-align:center;
	
}

.form-n {
	padding-left: 5%; 
	padding-right: 5%;
	padding-top: 3%;
	padding-bottom: 3%;
}

.nume {
	margin-left: 8%; 
	width:80%; 
	text-align:center;
}

.avatar {
	text-align: center;
	margin-left: 8%;
	margin-right: 6%;

}

.dlike {
	width: 50px;
	height: 50px;
}

button::-moz-focus-inner, input::-moz-focus-inner {
    padding: 0;
    border: 0;
}
::-moz-placeholder {
    color:#bbb !important;
    opacity: 1.0;
}
::after, ::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input[type="text"]:invalid, input[type="password"]:invalid, input[type="email"], input[type="file"]:invalid, select:invalid, textarea:invalid {
    box-shadow: none;
}
input[type="text"], input[type="password"], input[type="email"],  input[type="file"], select {
    height: 2.75em;
}
input[type="text"], input[type="password"], input[type="email"], select, textarea, input[type="file"] {
margin-bottom: 1%;
margin-top: 1%;	   
   -moz-appearance: none;
    appearance: none;
    background: rgba(144, 144, 144, 0.075);
    border-radius: 6px;
    border: solid 1px rgba(144, 144, 144, 0.25);
    color:inherit;
    padding: 0 1em;
    text-decoration: none;
    width: 100%;
}
body, input, select, textarea {
    font-size: 12pt;
}

input[type="submit"], input[type="reset"], input[type="button"], input[type="file"], .button {
    -moz-appearance: none;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color:#192024;
    border-radius: 6px;
    border: 0;
    color:#ffffff !important;
    cursor: pointer;
    display: inline-block;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.125em;
    font-size: 0.9em;
    height: 2.85em;
    line-height: 2.85em;
    padding: 0 1.75em;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    text-indent: 0.25em;
}
#myUL li a {
    border: 1px solid #ddd;
    margin-top: -1px;
    background-color:#f6f6f6;
    padding: 12px;
    text-decoration: none;
    color:black;
    display: block;
}
#myUL {
    list-style-type: none;
}
ul {
    list-style: disc;
}
.search-container{
  width: 490px;
  display: block;
  margin: 0 auto;
}

input#search-bar{
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #D0CFCE;
  outline: none;
  &:focus{
    border: 1px solid #008ABF;
    transition: 0.35s ease;
    color:#008ABF;
    &::-webkit-input-placeholder{
      transition: opacity 0.45s ease; 
  	  opacity: 0;
     }
    &::-moz-placeholder {
      transition: opacity 0.45s ease; 
  	  opacity: 0;
     }
    &:-ms-placeholder {
     transition: opacity 0.45s ease; 
  	 opacity: 0;
     }    
   }
 }

form.bar input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}


  table {
  border-width: 3px;
  background-color:black;
}
tr, td {
  padding: 2px;
}

.box {

    background-color:#f1f1f1;
    padding: 0.01em 16px;
    margin: 20px 0;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;

}

.b8 {
    border: 2px solid grey;
border-radius: 8px;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-right: 150px;
    margin-left: 200px;
padding-left: 100px;
    padding-top: 30px;
align-content: center;
  
}
    
.article-box
    {
    border: 2px solid grey;
border-radius: 8px;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-right: 150px;
    margin-left: 80px;
padding-left: 100px;
    padding-top: 30px;
        align-content: center;}

    .show-hide-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.show-hide-text a {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
}
.show-hide-text p {
  position: relative;
  overflow: hidden;
  max-height: 60px;
  line-height: 20px;
}
.show-hide-text p:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 20px;
 
}
@supports (-webkit-line-clamp: $rows) {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  .show-hide-text p:after {
    display: none;
  }
}
.show-more {
    color:green;
}
.show-less {
            color:green;
  display: none;
}
.show-less:target {
  display: block;
}
.show-less:target ~ p {
  display: block;
  max-height: 100%;
}
.show-less:target + a {
  display: none;
}
a {
    color:#000000;
}
.alert {
    padding: 20px;
    background-color:#f44336;
    color:white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
}

.alert.info {background-color:#282828;}

.closebtn {
    margin-left: 15px;
    color:white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color:white;
}
.post-st{width:120px; text-align:center; float:left; overflow:hidden;}
.post-st img{padding:10px; margin:3px 0 0 0; max-width:150px; max-height: 85px;}
.post-dr{margin:0 0 0 70px;}
.post-dr{margin:0 0 0 130px; color:#000000;}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color:#818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color:#f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.rectangle-green {
  padding-top: 5px;
  text-align: center;
  height: 35px;
  width: 100%px;
  background-color:green;
}
.rectangle-red {
  padding-top: 5px;
  text-align: center;
  height: 35px;
  width: 100%;
  background-color:red;
}
.footer {
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:#282828;
   color:white;
   text-align: center;
   position: absolute;
  right: 0;
    
}
    html {
  height: 100%;
  box-sizing: border-box;
}
    *,
*:before,
*:after {
  box-sizing: inherit;
}
    body{
    position: relative;
      min-height: 100%;
          padding-bottom: 6rem;

    }